/* AdvertForm */
.cardsContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.layout {
  @extend .modalTitleContent;
}

.cardContainer {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  background: #fff;
}

.cardFrame {
  display: flex;
  width: 840px;
  align-items: flex-start;
  gap: 24px;
}

.cardContent {
  display: flex;
  width: 526px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.cardTitleHolder {
  display: flex;
  width: 526px;
  flex-direction: column;
  gap: 8px;
}

.imgThumb {
  width: 290px;
  height: 310px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 10px;
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25em;
}

.h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
}

.priceFavoriteWrapper {
  display: flex;
  justify-content: center;
}

.favorite {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  stroke: #101828;
  fill: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:focus,
  &:hover {
    fill: #e44848;
    stroke: #e44848;
    transform: scale(1.1);
  }
}

.reviewLocationWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconTextWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.iconThumb16 {
  width: 16px;
  height: 16px;
}

.iconThumb20 {
  width: 20px;
  height: 20px;
}

.bodyText {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

.categoryText {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  line-height: normal;
  margin: 0;
}

.reviewRate {
  text-decoration-line: underline;
}

.cardAdvert {
  width: 525px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: normal;
}

.segmentedPicker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.categoryButton {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  transition: transform 0.3s ease;
}

.button {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.08px;
  border: none;
  border-radius: 200px;
  color: white;
  background-color: #e44848;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: #d84343;
  }
}

.loadMore {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background-color: #fff;
  border: 1px solid rgba(71, 84, 103, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.08px;

  &:focus,
  &:hover {
    border: 1px solid #e44848;
    transform: scale(1.03);
  }
}

/* ModalFeatures */
.cardContainerModal {
  display: inline-flex;
  flex-direction: column;
}

.modalFeatures {
  display: inline-flex;
  padding: 40px;
  flex-direction: column;
  gap: 24px;
}

.modalHeader {
  display: flex;
  width: 902px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.modalTitleHolder {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}

.closeBtn32 {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

.modalTitleContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.imgsContainer {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.modalContentBox {
  display: flex;
  height: 1074px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.advertFullText {
  width: 902px;
  color: #475467;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}

.featureReviewVertBox {
  display: flex;
  height: 740px;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
  flex-shrink: 0;
  align-self: stretch;
}

.featureReviewHorizBox {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 24px;
}

.featuresUnderlineBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.featureReviewTitles {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.featureSubtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2em;
  margin: 0;
}

.featureReviewTitle {
  cursor: pointer;
  @extend .modalTitleContent;
}

.vectorLine1 {
  width: 902px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: rgba(16, 24, 40, 0.2);
}

.vectorLine2 {
  width: 430px;
  height: 0px;
  stroke-width: 1px;
  stroke: rgba(16, 24, 40, 0.1);
}

.featureTagsBox {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 430px;
  height: 200px;
  gap: 8px;
}

.txtFieldBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 430px;
  gap: 24px;
}

.txtField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.vehicleDetailItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.vehicleItemTxt {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33em;
  margin: 0;
}

.bookingBox {
  padding: 24px;
  @extend .featuresUnderlineBox;
}

.bookingHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.bodyTextBooking {
  color: #475467;
  @extend .bodyText;
}

.bookingItem {
  display: flex;
  padding: 18px 341px 18px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #f7f7f7;
}

.input {
  padding: 10px;
  background: #f7f7f7;
  border: none;
  font-weight: 400;
  line-height: 1.25em;
}

.textArea {
  @extend .input;
}

.bookingItemRel {
  position: relative;
  @extend .bookingItem;
}

.datePicker {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}

.dateDropdown {
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  background: #fff;
}

.reviewsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.reviewsHeader {
  width: 430px;
  @extend .modalTitleContent;
}

.reviewsAvatar {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #f2f4f7;
}

.reviewsAvatarInitial {
  position: absolute;
  left: 21px;
  top: 15px;
  color: #e44848;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25em;
}

.reviewerNameRate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.reviewerName {
  color: #101828;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33em;
}

.reviewerRate {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.reviewsTxt {
  color: #475467;
}
