@import-normalize;
@import 'normalize.css';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -ms-flex-align: stretch;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background: #FFF;
  color: #101828;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btnsWrapper {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link,
li,
a {
  text-decoration: none;
  color: currentColor;
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.react-datepicker__input-container input {
  width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}