$textMain: (
  'font-family': 'Inter',
  'font-size': '16px',
  'font-style': 'normal',
  'font-weight': '400',
  'line-height': '1.5em',
);

$black: #101828;
$textGrey: #475467;
$redBtn: #e44848;
$redBtnHover: #d84343;
$yellow: #ffc531;
$grey100: #f2f4f7;
$inputs: #f7f7f7;

$borderMain: 1px solid rgba(16, 24, 40, 0.2);
$borderBtn: 1px solid rgba(71, 84, 103, 0.2);
$borderBtnHover: 1px solid #e44848;

$trans03: 0.3s ease-in-out;

// @include $textMain;
